<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Clientes
    </ion-list-header>

    <ion-item *ngFor="let client of clients">
      <ion-label>
        <h5>
          <ion-icon name="person-outline"></ion-icon> {{client.displayName}}
        </h5>
      </ion-label>

      <ion-button (click)="sendClientLocation(client.id)" slot="end" fill="clear" class="icon-btn" *ngIf="client.address">
        <ion-icon slot="icon-only" name="location-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>