/* @-webkit-keyframes rotate-scale-down{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(.5) rotateZ(180deg);transform:scale(.5) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}@keyframes rotate-scale-down{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(.5) rotateZ(180deg);transform:scale(.5) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}} */
div{
    /* -webkit-animation:rotate-scale-down 1s linear infinite both;animation:rotate-scale-down 1s linear infinite both; */
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        height: 120px;
    }
}

ion-content {
    --background: var(--ion-color-secondary)
}
