<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="admin/product-list"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h3>Modificar producto</h3>
  </div>
  <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Categoría</ion-label>
      <ion-input formControlName="category" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="price" type="number" required></ion-input>
    </ion-item>
    <div class="ion-text-center pd-top">
      <ion-button type="submit" color="secondary">Guardar cambios</ion-button>
    </div>
  </form>
</ion-content>
