<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="ion-text-center">
      <h3>Recuperar contraseña</h3>
      <p>Introduce tu correo electrónico</p>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-input">
        <label for="email">Email</label>
        <input type="text" formControlName="email" required>
      </div>
      <div class="ion-text-center btn-container">
        <div class="ion-text-center">
          <ion-button type="submit" class="btn-padding">
            Cambiar contraseña
          </ion-button>
        </div>
        <a [routerLink]="['/login']">Inicio de sesión</a>
      </div>
    </form>
  </div>
</ion-content>