<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start" >
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin/client-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map-container"  style="height: 100%;">
    <div #map id='map'  style="height: 100%;"></div>
  </div>
</ion-content>