<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Productos
    </ion-list-header>

    <ion-item-sliding *ngFor="let product of products">
      <ion-item>
        <ion-label>
          <h5>
            <ion-icon name="leaf-outline"></ion-icon> {{product.name}}
          </h5>
        </ion-label>
        <p slot="end">
          {{product.price}}€
        </p>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="deleteProduct(product.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>

        <ion-item-option [routerLink]="['/admin/product-edit/', product.id]">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <div class="btn-container ion-text-center" slot="fixed">
    <ion-button [routerLink]="['/admin/product-create']">
      Crear producto
    </ion-button>
  </div>
</ion-content>