<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let product of products">
    <ion-item>
      <ion-label>
        <div id="info">
          <h3>
            {{product.name}}
          </h3>
          <p>
            {{product.price}}€
          </p>
        </div>
      </ion-label>
      <div id="controller">
        <ion-button (click)="decreaseProduct(product.id)" class="round">
          <ion-icon slot="icon-only" name="remove" color="primary"></ion-icon>
        </ion-button>
        <p class="quantity" id="quantity{{product.id}}">0</p>
        <ion-button (click)="increaseProduct(product.id)" class="round">
          <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <div class="btn-container ion-text-center" slot="fixed">
    <ion-button (click)="checkout()">
      Finalizar compra
    </ion-button>
  </div>
</ion-content>