#info {
    display: flex;
    flex-direction: column;
}

#controller {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quantity {
    padding: 0px 5px;
}

.round {
    --border-radius: 50%;
    height: 30px;
    width: 30px;
    --padding-bottom: 1px;
    --padding-end: 1px;
    --padding-start: 1px;
    --padding-top: 1px;
}

.btn-container {
    bottom:15px;
    right:15px;
    left: 15px;
}


