<ion-header>
</ion-header>

<ion-content>
  <div class="main">
    <div class="ion-text-center">
      <h3>Inicio de sesión</h3>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-input">
        <label for="email">Email</label>
        <input type="email" formControlName="email" required>
      </div>
      <div class="form-input">
        <label for="password">Contraseña</label>
        <input type="password" formControlName="password" required>
      </div>
      <div class="ion-text-center btn-container">
        <div class="ion-text-center">
          <ion-button type="submit" class="btn-padding">
            Iniciar sesión
          </ion-button>
        </div>
        <a [routerLink]="['/reset-password']">He olvidado mi contraseña</a>
        <a [routerLink]="['/register']">Registrarse</a>
      </div>
    </form>
  </div>
</ion-content>