<ion-app>
  <ion-menu (ionWillOpen)="openSideMenu()" menuId="main-menu" contentId="main">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <!--<div class="menu-circle"></div>-->
        <div class="image-container ion-text-center">
          <img src="/assets/img/TCH_logo.png" class="sidemenu-img">
        </div>
        <ion-title  color="primary" class="ion-text-center">The Carnivorous Greenhouse</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="{{ isAdmin? 'admin/home' : 'client/home' }}">
            <ion-icon color="primary" name="home-outline" slot="start"></ion-icon>
            <ion-label  color="primary">Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="admin/product-list" *ngIf="isAdmin">
            <ion-icon  color="primary" name="pricetags-outline" slot="start"></ion-icon>
            <ion-label  color="primary">Products list</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="admin/client-list" *ngIf="isAdmin">
            <ion-icon  color="primary" name="people-outline" slot="start"></ion-icon>
            <ion-label  color="primary">Clients list</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="logout()">
            <ion-icon  color="primary" name="log-out-outline" slot="start"></ion-icon>
            <ion-label color="primary" >Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
