<ion-header>
</ion-header>

<ion-content>
  <div class="main">
    <div class="ion-text-center">
      <h3>Registro</h3>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-input">
        <label for="username">Nombre de usuario</label>
        <input type="text" formControlName="username" required>
      </div>
      <div class="form-input">
        <label for="email">Email</label>
        <input type="text" formControlName="email" required>
      </div>
      <div class="form-input">
        <label for="password">Contraseña</label>
        <input type="password" formControlName="password" minlength="6" required>
      </div>
      <div class="form-input">
        <label for="address">Dirección</label>
        <input type="text" formControlName="address">
      </div>
      <div class="form-input-row">
        <label for="admin">Administrador</label>
        <input type="checkbox" formControlName="admin">
      </div>
      <div class="ion-text-center btn-container">
        <div class="ion-text-center">
          <ion-button type="submit" class="btn-padding">
            Registrarse
          </ion-button>
        </div>
        <a [routerLink]="['/login']">Inicio de sesión</a>
      </div>
    </form>
  </div>
</ion-content>