.form-input{
    display: flex;
    flex-direction: column;
    padding: 15px 0 0 0;
}

.form-input-row{
    display: flex;
    flex-direction: row;
    padding: 15px 0 0 0;

    label {
        padding-right: 10px;
    }
}

label{
    padding-bottom: 5px;
}

.main{
    padding: 15px 30px;
}

.btn-container{
    padding-top: 30px;
    display: flex;
    flex-direction: column;

    ion-button {
        width: 120px;
        margin-bottom: 10px;
    }
}