<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <h3>¡Gracias por comprar en The Carnivorous Greenhouse!</h3>
  <h4 *ngIf="total">{{message}}</h4>

  <ion-button [routerLink]="['/client/home']">
    Volver a inicio
  </ion-button>
</ion-content>
