<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-btn">
    <ion-button [routerLink]="['/admin/product-list']">
      Productos
    </ion-button>
    <ion-button [routerLink]="['/admin/client-list']">
      Clientes
    </ion-button>
  </div>
</ion-content>
